@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* Общие стили */
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin: 0 auto;
}

p {
    color: #6a859c;
    line-height: 1.8; /* межстрочній интервал */
}

.hide{
    display: none !important;
}

.title-wrapper {
    margin-bottom: 60px;
}


.title {
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #676770;
}

.subtitle {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
}

.common-section {
    text-align: center;
    padding: 80px 0;
}

.common-section--dark {
    background-color: #192024;
}

.common-section--dark * {
    color: #ffff;
}

.common-section--dark .subtitle {
    color: #E8E8E8;
}


/* ----- HEADER ----- */
.header {
    padding: 20px 0;/* сверху и снизу 20 */
    position: fixed; /* закрепляет шапку профиля */
    width: 100%;
    top:0;
    left: 0;
    z-index: 100;
    background-color: #ffff;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
    letter-spacing: 4px;
    text-transform: uppercase; /* Заглавные буквы */
    color: #69B9FF;
}

.header_nav ul {
    display: flex;  
}

.header_nav li + li {
    margin-left: 40px; /* отступ у последующих li 40px по левому краю*/

}
.header_nav a {
    font-size: 16px;
    color: #676770;
    transition: color 0.2s; /* скорость изменения цвета */
}

.header_nav a:hover {
    color: #0082F3 ;
}

.header_nav a:active {
    color: #0062b6; /* цвет ссылки */
}


/* ------- MAIN ------- */
.main {
}


/* ------- WELCOME ------- */
.welcome {
    min-height: 600px;
    height: 100vh;
    padding: 195px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    color: #ffff;
    text-align: center;
    background-color: #282936;
    background-image: url("img/banner1.png");
    background-size: cover;
    background-position: center;
}

.welcome__heading {
    margin-bottom: 100px;
    font-size: 59px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.welcome__links > * + * {
    margin-left: 20px;
}

.link-primary {
    display: inline-block;
    padding: 11px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #69B9FF;
    border-radius: 4px;
    transition: bacground-color 0.2s;
}

.link-primary:hover {
    background-color: #7cc2ff
}

.link-primary:active{
    background-color: #0f8fff;
}

.link {
    display: inline-block;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 1px solid #ffff;
    border-radius: 4px;
    transition: border-color 0.1s, background-color 0.1s;
}

.link:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255 0.5);
}

.link:active{    
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.3);
}

/*---------------- ABOUT(WHAT WE DO)------------*/
.about {
}


.about .cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    

}

.about .card{
    padding: 35px 15px 20px;
    max-width: 300px;
    border: 1px solid #DCEBF7;
    border-radius: 5px;
}

.about .card img{
    margin-bottom: 20px;
    width: 94px;
    height: 94px;
    object-fit: contain;
}

.about .card h4 {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: #676770;
}

/*---------------- ABOUT(WHAT WE DO)------------*/
.servises {
}


.servises .cards-wrapper {
    display: flex;
    justify-content: space-between;
}
.servises .card {
    width: 45%;
}

.servises .card img{
    margin-bottom: 20px;
}

.servises .card h4{
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 7px;
    text-transform: uppercase;
}
.servises .link {
    margin-top: 15px;
}

/*--------------SECTION TAB------------------- */

.tab-section {
}


.tabs__nav{
    margin-bottom: 50px;
}

.tabs__nav button {
    padding: 0 30px;

    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffff;
    background-color: #92A0AD;
    border-radius: 4px;
}

.tabs__nav button.active {
    background-color: #2E80B6;
}

.tabs__nav button + button {
    margin-left: 15px;
}

.tabs__item img{
    margin-bottom: 15px;
}

.tabs__item {
    animation: fade 1s;; /* анимация для плавного появления контента при переключении табов */
}

@keyframes fade { /* анимация для плавного появления контента при переключении табов */
    from {
        opacity: 0.3; /* начальная прозрачность 0.3, чтобы было видно эффект появления */
    }
    to {
        opacity: 1; /* конечная прозрачность 1, чтобы контент был полностью видимым */
    }
}

.tabs__item h4 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #676770;
}



.tabs__desc {
    max-width: 720px;
    margin: 0 auto;
}

.tabs__desc p {
    margin-bottom: 100px;
}


/*----------------FOOTER----------------*/

.footer__desc {
    padding: 35px 0;
    
}

.footer__desc h4{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #676770
}

.footer__desc-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* контент прижимаеться к верху*/
    flex-wrap: wrap;
    gap: 20px 40px;

}

.footer__desc-container > * {
    width: 30%;
    min-width: 220px;
}

.footer__desc a {
    font-size: 13px;
    color: #668CAD;
}

.footer__desc li {
    height: 30px;
    position: relative;
}

.footer__desc li + li{
    margin-top: 6px;
}

.footer__desc li::before{
    content: "";
    width: 100%;
    height: 1px;

    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #6a859c;
}

.footer__social li::before{
    width: calc(100% - 34px);
}


.footer__about {

}

.footer__links {

}

.footer__social img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    object-fit: contain;

}

.footer__copy {
    padding: 40px 0;
    background-color: #383838;
}

.footer__copy p {
    color: #9e9e9e;
    text-align: center;
}


/*-------------- MEDIA --------*/
@media (max-width: 829px) {

    .footer__desc {
        padding-top:0;
    }
    
    .footer__desc-container {
        justify-content: space-evenly;
        gap: 40px;
    }
}
    
        
    .footer__desc h4 {
        margin-bottom: 15px;
    }

    .footer__copy {
        padding: 20px 0;
    }

    .footer__copy p {
        font-size: 12px;
    }

@media (max-width: 660px) {
    .tabs__nav {
        margin-bottom: 30px;
    }

    .tabs__nav button {
        display: block;
        margin: 0 auto; /* 0 сверху, auto по центру */
        padding: 10px 30px;
    }

    .tabs__nav button + button {
        margin-left: auto; /* обнуляем отступ у последующих кнопок */
        margin-top: 10px; /* добавляем отступ сверху */
    }

}

@media (max-width: 600px) {
    .servises .cards-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }
    
    .servises .card {
        width: 80%;
    }

    .title-wrapper {
        margin-top: 20px;
        margin-bottom: 40px;
    }


}


@media (max-width: 400px) {
    .header_nav li + li {
        margin-left: 15px;
}

    .welcome__heading {
        font-size: 40px;
        margin-bottom: 50px;
    }
    .welcome__links a {
        display: block;
        width: 80%;
        margin-left: auto; /* т. к. блочный элемент*/
        margin-right: auto; /* т. к. блочный элемент*/
    }
   .welcome__links > * + * {
    /*margin: 0; /*  обнуляем margin-left: 20px*/
    margin-top: 20px;
}


    body {
        font-size: 12px;
        
    }

    .about .card h4 {
        font-size: 16px;
    }

    .servises .card h4 {
        font-size: 16px;
    }

    .servises .card .link {
        padding: 8px 20px;
        font-size: 14px;

    }

    .tabs__item h4 {
        font-size: 16px;
    }

}


